.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.5vh;
    background-color: #EFF6FF;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1500px;
    margin: 0;
    height: 80vh;
    background-color: #EFF6FF;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar, .main-content, .details {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    background-color: #fff;
}

.main-content {
    background-color: #ffffff;
}

.details {
    background-color: #f8f9fa;
}

.sidebar select,
.group-item {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group-item {
    background-color: #CBDFFF;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.group-item:hover {
    background-color: #dfe6e9;
}

.group-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.main-content {
    overflow-y: auto;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    flex-shrink: 0;
}

.card-details {
    flex-grow: 1;
    text-align: center;
}

.card h3 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #2d3436;
}

.card p {
    font-size: 14px;
    color: #636e72;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.chat-container {
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.chat-message {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-message-e9f5ff {
    background-color: #e9f5ff;
    align-self: flex-start;
}

.chat-message-fff3e6 {
    background-color: #fff3e6;
    align-self: flex-end;
}

.chat-message-e6ffe9 {
    background-color: #e6ffe9;
}

.chat-message-f0e6ff {
    background-color: #f0e6ff;
}

.chat-message-fffce6 {
    background-color: #fffce6;
}


.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.message-content {
    display: flex;
    justify-content: space-between;
}

.message-time {
    font-size: 12px;
    color: #a1a1a1;
    margin-left: 10px;
}