<div class="body">
    <div class="profile-container">
        <div class="profile-header">
            <img src="assets/img_usuario.png" alt="Foto de perfil">
            <div class="profile-info">
                <h1>Christopher Walken Gutierrez Redolfo</h1>
                <p>Hola, soy Christopher, estudiante del IX ciclo de la carrera de Ingeniería de Sistemas e Informática,
                    aquí te contaré un poco más sobre mí :D</p>
                <button class="edit-profile">Editar perfil</button>
            </div>
        </div>
        <div class="profile-body">
            <div class="skills">
                <h2><img src="assets/habilidades.png" alt="Habilidades" class="icon"> Habilidades</h2>
                <ul>
                    <li>Liderazgo</li>
                    <li>Trabajo en equipo</li>
                    <li>Comunicación asertiva</li>
                </ul>
            </div>
            <div class="hobbies">
                <h2><img src="assets/skill-development_5776922.png" alt="Hobbies" class="icon"> Hobbies</h2>
                <ul>
                    <li>Programación Back-End</li>
                    <li>Base de datos</li>
                    <li>Scrum</li>
                </ul>
            </div>
            <div class="additional-info">
                <h2><img src="assets/adicional.png" alt="Información Adicional" class="icon"> Información Adicional</h2>
                <p>Actualmente me encuentro trabajando, por lo que mi horario de disponibilidad podría variar.</p>
            </div>
            <div class="classmates">
                <h2><img src="assets/companero-de-equipo.png" alt="Compañeros" class="icon"> Mis Últimos Compañeros</h2>
                <ul>
                    <li>Camila Lisset Taype Sumen</li>
                </ul>
            </div>
            <div class="courses">
                <h2><img src="assets/aprender-en-linea.png" alt="Cursos" class="icon"> Cursos Matriculados</h2>
                <ul>
                    <li>Programación web - 1456</li>
                    <li>Arquitectura Orientada al Servicio - 5202</li>
                    <li>Sistemas Distribuidos - 5202</li>
                </ul>
            </div>
        </div>
        <div class="rating">
            <label for="rating-bar">Calificación:</label>
            <progress id="rating-bar" value="70" max="100"></progress>
        </div>
    </div>
</div>