.body {
    margin: 25px;
}

.section {
    display: flex;
    height: 79vh;
    width: 100%;
}

.list {
    width: 25%;
    background-color: white;
    padding: 10px;
    overflow: auto;
    max-height: 100%;
}

.list .header-list {
    border-bottom: 1px solid #d0eaff;
    height: 50px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    /* Alinea los elementos verticalmente al centro */
}

.list .header-list h1 {
    margin: 0;
    /* Asegúrate de que no haya margen para una mejor alineación */
}

.list .header-list .tips {
    background-color: transparent;
    color: #2FBD46;
    font-weight: bold;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 7px;
    margin-left: auto;
    /* Empuja el botón hacia la derecha */
}

.list .header-list .tips:hover {
    background-color: #bae1c0;
}

.group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d0eaff;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.group-item:hover {
    background-color: #b0d4ff;
}

.group-item.selected {
    background-color: #a0c4ff;
}

.group-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.group-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group-name {
    margin: 0;
    padding-top: 0;
}

.group-alert {
    color: red;
    margin-top: 0px;
    font-size: 0.9em;
}

.eliminar-grupo,
.salir-grupo {
    background-color: transparent;
    color: red;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.eliminar-grupo:hover,
.salir-grupo:hover {
    background-color: rgb(255, 215, 215);
}

.eliminar-icon {
    width: 40px;
    height: 40px;
    color: red !important;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 50%;
}

.eliminar-icon:hover {
    background-color: #c85863;
}

.chat {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: relative;
}

.chat-header {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-header .group-image {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.chat-header h2 {
    margin: 10px;
}

.ellipsis-icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: #0056b3;
}

.ellipsis-icon:hover {
    background-color: #e3e3e3;
}

.header-Opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chat-content {
    flex: 1;
    background-color: #F5F5F5 !important;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.alert-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A0097 !important;
    background-color: #E2D9FF !important;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.alert-details {
    flex-grow: 1;
}

.alert-details p {
    color: #4A0097 !important;
}

.close-button {
    color: white;
    cursor: pointer;
}

.mensaje {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.mensaje-autor {
    background-color: #B7E4FF;
    align-self: flex-end;
    text-align: right;
}

.mensaje-otro {
    background-color: #E6E6E6;
    align-self: flex-start;
    text-align: left;
}

.mensaje-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.mensaje-info-autor {
    justify-content: flex-end;
}

.mensaje-info-otro {
    justify-content: flex-start;
}

.nombre {
    font-weight: bold;
    color: #333;
}

.hora {
    font-weight: normal;
    color: #666;
}

.mensaje-texto {
    margin: 0;
    color: #333;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.section2 {
    display: flex;
    height: 50vh;
}

.slide-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #EFF6FF;
    border-radius: 5px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: none;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
}

.slide-panel.open {
    transform: translateX(0);
    display: flex;
}

.close-panel {
    align-self: flex-start;
    background-color: transparent;
    color: #0661FC !important;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.close-panel:hover {
    background-color: #e3eefd;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    /* Add this line to move buttons to the right */
    margin-top: 0;
    /* Adjust the top margin as needed */
}

.integrantes,
.notificaciones {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.integrantes .headerInt,
.notificaciones .headerNot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.integrantes h2,
.notificaciones h2 {
    margin: 0;
}

.añadir,
.alert {
    background-color: transparent;
    color: #2FBD46;
    padding: 5px 10px;
    border: #2FBD46 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.añadir:hover,
.alert:hover {
    background-color: #2FBD46;
    color: white;
}


.integrantes-cards,
.alert-cards {
    max-height: 200px;
    /* Adjust as needed */
    overflow-y: auto;
}

.alert-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #E2D9FF;
    margin: 10px 0;
}

.integrante-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #D0EAFF;
    margin: 10px 0;
}


.integrantes .integrante-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.integrantes .integrante-details {
    flex-grow: 1;
}

.integrantes .integrante-details h3 {
    color: #000 !important;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

.integrantes .integrante-details p {
    color: #000 !important;
    margin-bottom: 0;
}


.integrantes .integrante-actions {
    display: flex;
    gap: 10px;
}

.integrantes .integrante-actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.integrantes .integrante-actions button i {
    font-size: 1em;
}

.editar-button {
    background-color: transparent;
    /* Azul */
    color: blue !important;
    /* Blanco */
}

.editar-button:hover {
    color: white !important;
    background-color: #aac6e9 !important;
    /* Azul un poco más oscuro */
}

.eliminar-button {
    background-color: transparent;
    /* Rojo */
    color: red;
    /* Blanco */
}

.eliminar-button:hover {
    color: red;
    background-color: rgb(255, 215, 215) !important;
    /* Rojo un poco más oscuro */
}

.ver-perfil-button {
    background-color: transparent !important;
    /* Fondo transparente */
    color: #F1C40F !important;
    /* Amarillo */
}

.ver-perfil-button:hover {
    background-color: #FFFFFF !important;
    /* Fondo blanco */
}




.notificaciones .alert-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.notificaciones .alert-details {
    flex-grow: 1;
}

.notificaciones .alert-details h3 {
    color: #4A0097 !important;
    font-size: 20px;
    margin: 0;
}

.notificaciones .alert-actions {
    display: flex;
    gap: 10px;
}

.notificaciones .alert-actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.notificaciones .alert-actions button i {
    font-size: 1em;
}