<div class="body">
    <div class="section">
        <div class="list">
            <div *ngFor="let grupo of grupos" class="group-item" (click)="selectGroup(grupo)">
                <img src="assets/img_grupo.png" alt="Grupo Icono" class="group-icon">
                <div class="group-details">
                    <p class="group-name">{{ grupo.name }}</p>
                    <p *ngIf="grupo.alerta" class="group-alert">{{ grupo.alerta }}</p>
                </div>
                <button class="eliminar-icon" matTooltip="Eliminar" (click)="eliminarGrupo(grupo)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="chat">
            <div class="chat-header">
                <img *ngIf="selectedGroup" src="assets/img_grupo.png" alt="Imagen de Grupo" class="group-image">
                <h2>{{ selectedGroup?.name }}</h2>
            </div>
            <div class="chat-content" #chatContent>
                <div *ngIf="alertMessage" class="alert-message">
                    <div class="alert-details">
                        <p><strong>Alerta:</strong> {{ alertMessage.asunto }}</p>
                        <p>Fecha: {{ alertMessage.fecha | date:'mediumDate' }} - {{ alertMessage.hora }}</p>
                    </div>
                    <button mat-icon-button matTooltip="Eliminar Alerta" (click)="desanclarAlerta()" class="close-button">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- Aquí se mostrarán los mensajes del grupo seleccionado -->
                <div *ngFor="let mensaje of mensajes"
                    [ngClass]="{'mensaje-autor': mensaje.autor === 'Yo', 'mensaje-otro': mensaje.autor !== 'Yo'}"
                    class="mensaje">
                    <p><strong>{{ mensaje.autor }}:</strong> {{ mensaje.contenido }}</p>
                    <p class="fecha">{{ mensaje.fecha | date:'shortTime' }}</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Escribir mensaje" [(ngModel)]="newMessage">
                <button class="enviar" (click)="sendMessage()">Enviar</button>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="integrantes">
            <div class="headerInt">
                <h2>Integrantes</h2>
                <button matTooltip="Agregar" class="añadir" (click)="openAddDialog()">
                    <i class="fas fa-add"></i>
                </button>
            </div>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef> Rol </th>
                    <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="editar-button" matTooltip="Editar" (click)="openEditDialog(element)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="eliminar-button" matTooltip="Eliminar"
                            (click)="eliminarIntegrante(element)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="notificaciones">
            <div class="headerNot">
                <h2>Notificaciones</h2>
                <button class="alert" (click)="openAlertDialog()">Crear Alerta</button>
            </div>
            <div class="alert-cards">
                <div *ngFor="let alerta of alertas" class="alert-card">
                    <div class="alert-content">
                        <div class="alert-details">
                            <h3>{{ alerta.asunto }}</h3>
                            <p>Fecha: {{ alerta.fecha | date:'mediumDate' }} - {{ alerta.hora }}</p>
                        </div>
                        <div class="alert-actions">
                            <button mat-icon-button matTooltip="Editar" (click)="editarAlerta(alerta)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button mat-icon-button matTooltip="Eliminar" (click)="eliminarAlerta(alerta)">
                                <i class="fas fa-trash"></i>
                            </button>
                            <button mat-icon-button matTooltip="Anclar" (click)="anclarAlerta(alerta)" [disabled]="isAlertaAnclada(alerta)">
                                <i class="fas fa-thumbtack"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>