<div class="body">
    <div class="container">
        <div class="container-content">
            <h2 class="h2">¡Herramientas que te pueden ayudar!</h2>
            
            <div class="card-container">
                <!-- Card 1 -->
                <a href="https://www.canva.com/" target="_blank" class="card-link">
                    <div class="card">
                        <img src="assets/canva.png" alt="Canva">
                        <div class="card-info">
                            <h3>Canva</h3>
                            <p>Utiliza plantillas para elaborar tus presentaciones.</p>
                        </div>
                    </div>
                </a>
                <!-- Card 2 -->
                <a href="https://www.microsoft365.com/" target="_blank" class="card-link">
                    <div class="card">
                        <img src="assets/microsoft.png" alt="Microsoft 365">
                        <div class="card-info">
                            <h3>Microsoft 365</h3>
                            <p>Utiliza las aplicaciones de Office y trabaja de manera colaborativa.</p>
                        </div>
                    </div>
                </a>
                <!-- Card 3 -->
                <a href="https://miro.com/es/" target="_blank" class="card-link">
                    <div class="card">
                        <img src="assets/miro.png" alt="Miro">
                        <div class="card-info">
                            <h3>Miro</h3>
                            <p>Realiza diversos diagramas, mapas, etc., de manera colaborativa.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
