<div class="dialog-container">
    <h2 class="dialog-title">Editar Grupo</h2>
    <div class="dialog-content">
        <div class="form-group">
            <label for="groupName">Nombre del Grupo</label>
            <input type="text" id="groupName" [(ngModel)]="nombre_grupo" readonly>
        </div>
        <div class="form-group">
            <label for="role">Rol</label>
            <input type="text" id="role" [(ngModel)]="miembroDTO.rolGrupo">
        </div>
    </div>
    <div class="dialog-actions">
        <button class="btn btn-cancel" (click)="onNoClick()">Cancelar</button>
        <button class="btn btn-save" (click)="guardarRol()">Guardar</button>
    </div>
</div>