.body{
    padding: 10px;
}

.headerAdd{
    display: flex;
    gap: 10px; 
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: #ccc 1px solid;
}
.form-group {
    align-items: center;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.alumnos-list {
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-y: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0f7ff;
    padding: 15px;
    border-radius: 8px;
    width: 275px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon img {
    width: 50px;
    padding: 5px;
}


.card-content {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.actions {
    display: flex;
    gap: 10px;
}


.inputs{
    border-top: #ccc 1px solid;
    display: flex;
    padding-top: 10px;
}



.add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.dialog-actions .cancelar {
    background-color: #6C757D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.dialog-actions .cancelar:hover {
    background-color: #5A6268;
}

.dialog-actions .guardar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.dialog-actions .guardar:hover {
    background-color: #0056b3;
}