.sidenav-container {
  height: 100%;
  background-color: #F0F7FF;
}

.sidenav {
  width: 90px;
  background-color: #000F37 ;
}

.toolbar{
  background-color: white;
  display: flex;
  align-items: center;
}

.toolbar img{
  width: 125px;
  margin-left: 20px;
}

.toolbar-right{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.notificaciones {
  cursor: pointer;
  margin-right: 30px ;
  position: relative; /* This ensures that absolute positioning inside it is relative to this div */
  display: flex;      /* Keeps the icon and the dot aligned properly */
  align-items: center; /* Center align items for visual balance */
  justify-content: center; /* Center content for better control */
}

.notificaciones i{
  padding-top: 15px;
  padding-left: 7px;
}

.notificaciones .numerito {
  background-color: red; /* Red color for the notification dot */
  width: 10px;           /* Dot size */
  height: 10px;          /* Dot size */
  border-radius: 50%;    /* Circular shape */
  position: absolute;    /* Positioning relative to the parent */
  top: 2px;              /* Adjust this to move the dot downward */
  right: -5px;           /* Keeps the dot to the right of the bell icon */
  display: block;        /* Ensure the dot is visible */
}

.notification-dropdown {
  width: 300px;
  height: 300px;  /* Altura igual al ancho para mantener un diseño cuadrado */
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  position: absolute;
  z-index: 1000;  /* Asegúrate de que el menú esté por encima de otros elementos */
  right: 250px;  /* Alinea el menú con el lado derecho del ícono de campana */
  top: 65px; /* Espacio del menú debajo del ícono de campana */
  overflow-y: auto;
  border-radius: 4px; /* Opcional: Para bordes redondeados */
}

.notification-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.notification-item:hover{
  background-color: #F2F4F8;
}

.notification-item:last-child {
  border-bottom: none; /* Elimina el borde del último elemento */
}

.notification-item i {
  margin-right: 10px;
  font-size: 20px;
  color: #45A049; /* Color de los íconos */
}

.notification-item span {
  flex: 1;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000F37;
}

.separator {
  height: 40px;
  width: 1px;
  background-color: #ccc;
  margin: 0 15px;
}


.perfil {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0px;
  width: fit-content;
  margin-left: auto;
}
.perfil .dato {
  margin-right: 10px;
}
.perfil .dato .nombre p {
  margin: 0;
  font-size: 15px;
  color: #333;
  line-height: 1;
}
.perfil .dato .nombre span {
  font-weight: bold;
}
.dato .rol {
  margin: 0;
  font-size: 10px;
  color: #777;
  line-height: 1;
  margin-left: auto;
}
.perfil img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.perfil p {
  margin: 0;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.perfil img{
  width: 35px;
  height: 35px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89.5px;
  height: 56px;
}

.main i{
  color: white;
  font-size: 20px;
}

.item-seleccionado{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89.9px;
  height: 80px;
  background-color: #F0F7FF;
  border-left: 4px solid red;
}

.item-seleccionado i{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000 !important;
}

.item-seleccionado p{
  margin: 0;
  font-size: 12px;
  color:black !important;
}


.item{
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89.5px;
  height: 80px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-dot {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 15px;
}

.item i{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}


.item p{
  margin: 0;
  font-size: 12px;
  color: white;
}

.custom-menu{
  margin-top: 100px !important;
  width: 600px;
}

.mat-menu-item:hover {
  background: #EFF6FE !important;
}

.mat-menu-item span {
  margin-left: 10px;
  font-size: 15px !important;
}

.mat-menu-item mat-icon {
  color: #000;
}
